@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #0f172a !important; 
    transition: background-color 5000s ease-in-out 0s;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;               
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155; 
    border-radius: 20px;     
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}